﻿.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 0;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #ccc;
    color: black;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
}



#saveChangesBtn {
    background-color: #248f24;
    color: white;
    margin: 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 33%;
    opacity: 0.9;
}


#editBtn, #userDataBtn, #backBtn {
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 4px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    float: right;
}

.edit-btn, .details-btn, .delete-btn {
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 2px 3px;
    background-color: white;
    color: #000;
    text-align: center;
    cursor: pointer;
}


#editBtn:hover, #saveChangesBtn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#failureMessage {
    color: red;
    display: none;
}

#userDataBtnDiv {
    height: 32px;
    float: left;
}

#editBtnDiv {
    height: 32px;
}

#imgDiv {
    width: 100%;
    text-align: center;
}
