﻿/* Style the navbar */
.topnav {
  overflow: hidden;
  position:fixed;
  width:100%;
  top:0;
  z-index:1;
  background-color: #333;
}

.topnav a ,.topnav span{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
.topnav .profile-picture{
    display:inline;
    float:right;
}
.topnav a:hover, #navbarDropdown:hover {
  background-color: #555;
  color: white;
}

.topnav #navbarDropdown {
  display: none;
  cursor:pointer;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),.topnav #logout,.topnav .profile-picture {
    display: none;
  }
  .topnav a#navbarDropdown {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive #navbarDropdown {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a,.topnav.responsive #logout,.topnav.responsive .profile-picture {
    float: none;
    display: block;
    text-align: left;
  }
  
}


#logout{
    float:right;
    background:none;
    background-image:url('/Content/Images/logout.png');
    height:30px;
    width:30px;
    margin:10px 20px 10px 10px;
    background-size: 30px;
    border:none;
    background-repeat:no-repeat;
    object-fit:fill;
    cursor:pointer;
}

