﻿/* common style for all */
﻿* {
  box-sizing: border-box;
}


/* style for all the input field labels */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin:0;
}






/* style for submit button on normal conditions */
input[type=submit]{
	background-color:#248f24;
	color:white;
	padding:16px 20px;
	border:none;
	border-radius:4px;
	cursor:pointer;
	width:33%;
	opacity:0.9;
}





/* Form style */
.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:750px;
  margin:51px auto;
}






/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 13px 10px 0 10px;
  pointer-events: none;
}












/* style for class col-25 to use with input field labels for alignment */
.col-25 {
  float: left;
  width: 21%;
  margin-top: 6px;
  margin-left:20px;
}

.col-dropdown{
      float: left;
      width: 25%;
      margin-top: 6px;
  }

/* style for class col-75 to use with input fields for alignment */
.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

.col-phone {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/*style for details page*/

.field-data{
  float: left;
  width: 50%;
  margin-top:6px;
  padding: 11px;
  border-radius: 4px;
  line-height:inherit;
}

#userDetails {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#userDetails:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.details-container {
  padding:5%;
}

fieldset{
    margin:20px 0;
}


/*style for addPhone button*/

#addPhone {
    
    display:inline;
    background:none;
    background-image:url('/Content/Images/add.png');
    height:25px;width:25px;
    background-size: 25px;
    border:none;
    margin:14px 6px;
    background-repeat:no-repeat;
    object-fit:fill;
}
.remove-phone{
    display:inline;
    background:none;
    background-image:url('/Content/Images/remove.png');
    height:25px;width:25px;
    background-size: 25px;
    border:none;
    margin:14px 6px;
    background-repeat:no-repeat;
    object-fit:fill;
}

/* style for selected input field */
input[type=text],[type=password],[type=email],[type=tel], textarea {
  width: 100%;
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height:inherit;
}


#profilePicture{
    line-height:inherit;
    padding:10px 0;
}

select{
  width: 100%;
  padding:11px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* style for class row to use with input field labels and fields alignment to stick together in a single row */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
    margin-left:0;
    margin-right:0;
}

/* style for textarea used in address */
textarea{
  height:100px;
  resize:none;
}

/* style for media screens with max-width upto 600px */
@media screen and (max-width: 600px) {
     .form-container{
      width:100%;
  }
  .col-25, .col-75,.col-phone {
    width: 100%;
    margin-top: 0;
  }
  .col-25, .col-75{
      margin-left:10px;
  }
  #profilePicture{
      width:inherit;
  }
  .remove-phone,#addPhone{
    margin-left:25px;
}
  .col-dropdown{
      width:96.7%;
      margin-top:0;
  }
  input[type=text],[type=password],[type=email],[type=tel], textarea{
    width:96.7%;
  }
  .row{
      margin-right:5%;
  }
 
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   
    input[type=text],[type=password],[type=email],[type=tel], textarea{
      width:100%;
    }
  
}



  

/* style for Asterisk for mandatory fields */
.text-danger,small,.mandatory{
	color:red;
}

/* style for h1 */
h1{
    text-align:center;
}













/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

#letter,#capital,#number,#length{
  margin: 0;
}

