﻿@model UserManagementSystem.Models.IndexViewModel
@using UserManagementSystem.CustomHelpers


<link href="~/Content/Normalize.css" rel="stylesheet" />
<link href="~/Content/navBar.css" rel="stylesheet" />


<div id="navbar" class="topnav">
    <a href="@Url.Action("Index","User")">Home</a>
    <a style="font-size:15px;" id="navbarDropdown">&#9776;</a>
    <button type="button" id="logout" name="Logout" onclick="location.href='@Url.Action("Logout","User")'"></button>
    <div class="profile-picture" >
        @if (Model.ProfilePicture != null)
        {
            <span style="float:right;padding:10px 10px 10px 0;">
                @Html.Image(Url.Content(Model.ProfilePicture),"image","30px","30px", new { style = "border-radius:10%;" })
            </span>
        }
        else
        {
            <span style="float:right;padding:10px 10px 10px 0;">
                @Html.Image(Url.Content("~/UploadedImages/user.png"), "image", "30px", "30px", new { style = "border-radius:10%;" })
            </span>
        }
        <span> Hello! @Model.FirstName @Model.LastName</span>
    </div>
    
</div>
