﻿<link href="~/Content/Normalize.css" rel="stylesheet" />
<link href="~/Content/navBar.css" rel="stylesheet" />


<div id="navbar" class="topnav">
    <a href="@Url.Action("Index","User")">Home</a>
    <a href="@Url.Action("Register","Register")">Register</a>
    <a href="@Url.Action("Login","Login")">Login</a>
    <a style="font-size:15px;" id="navbarDropdown">&#9776;</a>
</div>