﻿@model UserManagementSystem.Models.Contacts


<div class="row">
    <div class="col-25">
        <label for=@ViewBag.index>Phone:</label>

    </div>

    <div class="col-75" style="margin-top:0;">
        <div class="col-dropdown">
            <select name="ContactTypeList" id=@ViewBag.phoneTypeId >
                
                @foreach (var contactType in ViewBag.contactType)
                {
                    <option value=@contactType.ContactTypeId>@contactType.ContactType</option>
                }
            </select>

        </div>

        <div class="col-phone inner-addon left-addon" >
            <i class="glyphicon glyphicon-phone"></i>
            <input type="tel" id=@ViewBag.phoneId name="PhoneList" placeholder="Your Phone Number.."   onkeyup="rtAltPhone('@ViewBag.phoneId', '@ViewBag.phoneValidationId')"/>
            

        </div>
        
        
        <small id=@ViewBag.phoneValidationId style="display:none;">Phone number should contain only numbers and must not exceed limit of 15 digits!</small>


    </div>


    <button type="button" class="remove-phone" name="RemovePhone"></button>

</div>

