﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/Content/cssbundle")
    <title>ErrorPage</title>
</head>
<body>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
    <div class="form-container"> 
        <h1>Oops! some error occured..</h1>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    @Scripts.Render("~/bundles/jquerybundle")
</body>
</html>
