﻿@model UserManagementSystem.Models.IndexViewModel

@using UserManagementSystem.CustomHelpers

@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>LoggedIn</title>
</head>
<body style="background-color:#f2f2f2">
    @{
        Html.RenderAction("_HeaderLoggedInNavBar", "User", new { email = Session["Email"] });
    }
    @Html.AntiForgeryToken()
    <div id="userDetails" class="form-container user-details">

        <input type="hidden" id="userId" name="UserId" value="@Model.UserId" />

        <h1>Details</h1>
        <hr/>
        <small id="failureMessage"></small>
        <div id="editBtnDiv"><button id="editBtn">Edit <i class="glyphicon glyphicon-edit"></i></button></div>

        <div id="imgDiv" class="row">
            @if (Model.ProfilePicture != null)
            {
                <span>@Html.Image(Url.Content(Model.ProfilePicture), "image", "200px", "200px", new { style = "border-radius:50%;" })</span>
            }
            else
            {
                <span>@Html.Image(Url.Content("~/UploadedImages/user.png"), "image", "200px", "200px", new { style = "border-radius:50%;" })</span>
            }
        </div>
        <div class="details-container" >
            <fieldset>
                <legend>Basic Details</legend>
                <div class="row">
                    <div class="col-25">
                        <label>First Name:</label>
                    </div>
                    <div class="field-data">
                        <span>@Model.FirstName</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Last Name:</label>
                    </div>
                    <div class="field-data">
                        @Model.LastName
                    </div>
                </div>
            </fieldset>
            
            <fieldset>
                <legend>Contact Details</legend>
                <div class="row">
                    <div class="col-25">
                        <label>Email:</label>
                    </div>
                    <div class="field-data">
                        @Model.Email
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Phone:</label>
                    </div>
                    <div class="field-data">
                        @foreach (var phone in Model.Phone)
                        {
                            <p>
                                <span>[@phone.Key]</span>
                                <span>@phone.Value</span>
                            </p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Address:</label>
                    </div>
                    <div class="field-data">
                        @Model.Address
                    </div>
                </div>
            </fieldset>
            
            
            
        </div>

    </div>



    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Edit Details</h2>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="firstName">First Name:</label>
                </div>
                <div class="col-75 inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="text" id="firstName" name="FirstName" value=@Model.FirstName required>
                    <small id="formatWarningFName" style="display:none;">Name field must only contain characters!</small>
                    <small id="blankWarningFName" style="display:none;">Name field should not be blank!</small>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lastName">Last Name:</label>
                </div>
                <div class="col-75 inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="text" id="lastName" name="LastName" value=@Model.LastName required>
                    <small id="formatWarningLName" style="display:none;">Name field must only contain characters!</small>
                    <small id="blankWarningLName" style="display:none;">Name field should not be blank!</small>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="address">Address:</label>
                </div>
                <div class="col-75 inner-addon left-addon">
                    <i class="glyphicon glyphicon-home"></i>
                    <textarea id="address" name="Address">@Model.Address</textarea>
                    <small id="blankWarningAddress" style="display:none;">Address should not be blank!</small>
                </div>
            </div>
            <div class="center-element-div"><button id="saveChangesBtn">Save Changes</button></div>
        </div>

    </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        @Styles.Render("~/Content/cssbundle")
        @Scripts.Render("~/bundles/jquerybundle")
</body>
</html>
