﻿@model UserManagementSystem.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>
<body>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }

    <div class="form-container" style="text-align:center;">
        <form id="login" action="@Url.Action("Login","User")" method="post">
            @Html.AntiForgeryToken()
            <h1>Login</h1>
            <div>
            

                <hr style="border-color:black;"/>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               

                <div class="row">
                    <div class="col-25">
                        <label for="loginEmail">Email:</label>

                    </div>
                    <div class="col-75 inner-addon left-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <input type="email" id="loginEmail" name="Email" placeholder="Your Email id.." required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="loginPassword">Password:</label>
                    </div>
                    <div class="col-75 inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input type="password" id="loginPassword" name="Password" placeholder="Your Password.." required>
                    </div>
                </div>



                
                    <div style="text-align:center;margin:20px 0;">
                        <input type="submit" value="Login" />
                    </div>
             
            </div>
        </form>
        <div style="text-align:center;">
            Don't have an account?  @Html.ActionLink("Register", "Register", "User")
        </div>
    </div>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/cssbundle")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    @Scripts.Render("~/bundles/jquerybundle")
</body>
</html>
