﻿@using UserManagementSystem.Models.ViewModels

@using UserManagementSystem.CustomHelpers

@model IEnumerable<AdminUserViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UserDetails</title>
</head>
<body style="background-color:#f2f2f2">
    @Html.AntiForgeryToken()

    @{
        Html.RenderAction("_HeaderLoggedInNavBar", "User", new { email = Session["Email"] });
    }


    
    <div id="tableDiv" class="form-container" style="background-color:white;overflow-x:auto;"> 

        <h1>Users Data</h1>
        <hr/>
        <small id="failureMessage" style="color:red;display:none;"></small>
        <div style="height:32px;float:left;"><button id="backBtn" style="padding:2px;"><i class="glyphicon glyphicon-circle-arrow-left"> Back</i></button></div>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>
                        <button class="edit-btn" onclick="edit(@item.UserId)">Edit <i class="glyphicon glyphicon-edit"></i></button> |
                        <button class="details-btn" onclick="details(@item.UserId)">Details <i class="glyphicon glyphicon-eye-open"></i></button> |
                        <button class="delete-btn" onclick="deleteUser(@item.UserId)">Delete <i class="glyphicon glyphicon-trash"></i></button>
                    </td>
                </tr>

            }
        </table>

    </div>

    <!-- The Edit Modal -->
    <div id="myModal" class="modal">
        <input type="hidden" id="userId" name="UserId" />
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Edit Details</h2>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="firstName">First Name:</label>
                </div>
                <div class="col-75 inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="text" id="firstName" name="FirstName" required>
                    <small id="formatWarningFName" style="display:none;">Name field must only contain characters!</small>
                    <small id="blankWarningFName" style="display:none;">Name field should not be blank!</small>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lastName">Last Name:</label>
                </div>
                <div class="col-75 inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="text" id="lastName" name="LastName" required>
                    <small id="formatWarningLName" style="display:none;">Name field must only contain characters!</small>
                    <small id="blankWarningLName" style="display:none;">Name field should not be blank!</small>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="address">Address:</label>
                </div>
                <div class="col-75 inner-addon left-addon">
                    <i class="glyphicon glyphicon-home"></i>
                    <textarea id="address" name="Address"></textarea>
                    <small id="blankWarningAddress" style="display:none;">Address should not be blank!</small>
                </div>
            </div>
            <div style="text-align:center;"><button id="saveChangesBtn">Save Changes</button></div>
        </div>

    </div>


    <!-- The Details Modal -->
    <div id="myModalDetails" class="modal">
        <input type="hidden" id="userIdDetails" name="UserIdDetails" />
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>User Details</h2>
            </div>
            
            <div id="userDetails" class="form-container" style="width:100%;background-color:white;margin:0;">
               
                <div id="imgDivAdmin" class="row" style="width:100%;text-align:center;">
                    <span>@Html.Image(Url.Content("~/UploadedImages/user.png"), "image", "200px", "200px", new { style = "border-radius:50%;" })</span>
                </div>
                <div class="details-container">
                    <fieldset>
                        <legend>Basic Details</legend>
                        <div class="row">
                            <div class="col-25">
                                <label>First Name:</label>
                            </div>
                            <div class="field-data">
                                <span id="firstNameUser"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label>Last Name:</label>
                            </div>
                            <div class="field-data">
                                <span id="lastNameUser"></span>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Contact Details</legend>
                        <div class="row">
                            <div class="col-25">
                                <label>Email:</label>
                            </div>
                            <div class="field-data">
                                <span id="emailUser"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label>Phone:</label>
                            </div>
                            
                            <div id="phoneDivAdmin" class="field-data">
                                
                            </div>
                               
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label>Address:</label>
                            </div>
                            <div class="field-data">
                                <span id="addressUser"></span>
                            </div>
                        </div>
                    </fieldset>



                </div>

            </div>

        </div>

    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/cssbundle")
    @Scripts.Render("~/bundles/jquerybundle")
</body>
</html>
