﻿
@using UserManagementSystem.CustomHelpers


@{
    ViewBag.Title = "Register";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
</head>
<body>
    @{
        Html.RenderPartial("../User/_HeaderNavBar");
    }

    <div class="form-container">
        <form id="registration" action="@Url.Action("Register","Register")" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <h1>Register Yourself!</h1>
            <div>
                <small id="mandatoryMsg">All the (<span class="mandatory">*</span>) marked fields are mandatory.</small>
                <h4>UserDetails</h4>

                <hr/>
                <p class="success-msg">@ViewBag.successMessage</p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-25">
                        <label for="firstName">First Name:<span class="mandatory">*</span></label>

                    </div>
                    <div class="col-75 inner-addon left-addon">
                        <i class="glyphicon glyphicon-user"></i>
                        <input type="text" id="firstName" name="FirstName" placeholder="Your first name.." required />
                        <small id="formatWarningFName" style="display:none;">Name field must only contain characters!</small>
                        <small id="blankWarningFName" style="display:none;">Name field should not be blank!</small>

                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="lastName">Last Name:<span class="mandatory">*</span></label>

                    </div>
                    <div class="col-75 inner-addon left-addon">
                        <i class="glyphicon glyphicon-user"></i>
                        <input type="text" id="lastName" name="LastName" placeholder="Your last name.." required />
                        <small id="formatWarningLName" style="display:none;">Name field must only contain characters!</small>
                        <small id="blankWarningLName" style="display:none;">Name field should not be blank!</small>

                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="email">Email:<span class="mandatory">*</span></label>

                    </div>
                    <div class="col-75 inner-addon left-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <input type="email" id="email" name="Email" placeholder="Your Email id.." required>
                        <small id="blankWarningEmail" style="display:none;">Email field should not be blank!</small>
                        <small id="formatWarningEmail" style="display:none;">Email format not valid!</small>
                        <small id="notUniqueWarningEmail" style="display:none;">Email already registered!</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="password">Password:<span class="mandatory">*</span></label>
                    </div>
                    <div class="col-75 inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input type="password" id="password" name="Password" placeholder="Your Password.." required>
                        <small id="blankWarningPassword" style="display:none;">Password should not be blank!</small>
                        <div id="passwordValidationMessage" style="display:none;padding-left:50px;font-size:12px;">
                            <strong>Password must contain the following:</strong>
                            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number" class="invalid">A <b>number</b></p>
                            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                            <p id="specialCharacter" class="invalid">A <b>special character</b></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="confirmPassword">Confirm Password:<span class="mandatory">*</span></label>

                    </div>
                    <div class="col-75 inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input type="password" id="confirmPassword" name="ConfirmPassword" placeholder="Re-enter Password.." required>
                        <small id="blankWarningCnfPassword" style="display:none;">Password should not be blank!</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="phone">Phone:<span class="mandatory">*</span></label>

                    </div>
                    <div class="col-75" style="margin-top:0;">
                        <div class="col-dropdown">
                            <select id="phoneType" name="ContactTypeList">
                                @foreach (var contactType in ViewBag.contactType)
                                {
                                    <option value=@contactType.ContactTypeId>@contactType.ContactType</option>
                                }
                            </select>

                        </div>

                        <div class="col-phone inner-addon left-addon">
                            <i class="glyphicon glyphicon-phone"></i>
                            <input type="tel" id="phone" name="PhoneList" placeholder="Your Phone Number.." required />


                        </div>


                        <small id="blankWarningPhone" style="display:none;">Phone number should not be blank!</small>
                        <small id="formatWarningPhone" style="display:none;">Phone number should contain only numbers and must not exceed limit of 15 digits!</small>
                        
                    </div>
                    <button type="button" id="addPhone" name="AddPhone"></button>
                </div>
                <div id="altPhoneDiv"></div>
                

                <div class="row">
                    <div class="col-25">
                        <label for="address">Address:<span class="mandatory">*</span></label>
                    </div>
                    <div class="col-75 inner-addon left-addon">
                        <i class="glyphicon glyphicon-home"></i>
                        <textarea id="address" name="Address" placeholder="Your Address.."></textarea>
                        <small id="blankWarningAddress" style="display:none;">Address should not be blank!</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="profilePicture">Profile Picture:</label>
                    </div>
                    <div class="col-75">
                        @Html.File("profilePicture", "ProfilePicture")
                        <small id="typeWarningFile" style="display:none;">Upload image file only!</small>
                    </div>
                </div>


                <div style="text-align:center;">
                    <input type="submit" value="Register" />
                </div>

            </div>
        </form>
        <div style="text-align:center;">
            Already have an account?  @Html.ActionLink("Login", "Login", "Login")
        </div>
    </div>




    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/cssbundle")

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    @Scripts.Render("~/bundles/jquerybundle")
</body>
</html>